* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Color styles */
    --dark: #000000;
    --quite-dark: #141922;
    --dark-grey: #282828;
    --grey: #C1C1C1;
    --accent: #ADFF2F;

}

body {
    font-family: 'Montserrat', sans-serif;

}

html {
    scroll-behavior: smooth;
}

/* TOOLS */
a {
    color: white;
}

ul {
    list-style: none;
}

.d-flex {
    display: flex;
}
.d-column{
    display: flex;
    flex-direction: column;
}
.space-between{
    justify-content: space-between;
}
.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
    align-content: center;
}

.btn {
    padding: 6px 10px;
    display: inline-block;
    border: 2px solid white;
    color: white;
    border-radius: 40px;
    text-decoration: none;
    width: fit-content;
    margin-top: 15px;
    margin-right: 20px;
}
.btn:hover {
    transform: scale(1.1) perspective(1px);
    transition: .2s;
    
  }

.svg{
    color: white;
}
/* TEXT  */


.up-text {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

p {
    color: var(--grey);
}

/* HOVER */

li a:hover{
    color: white;
    padding-bottom: 5px;
    border-bottom: 3px solid var(--accent);

}

.box-card:hover img {
    opacity: 0.8;
}

.box-img:hover .play-hover {
    opacity: 1;
}

.play-hover {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 50px;
    opacity: 0;
}

.leftbar li:hover{
    border-left: 3px solid var(--accent);
    padding-left: 10px;
    cursor: pointer;
    color: white;
}
i{
    color: var(--grey);
}
i:hover{
    color: white;
}
span:hover{
    text-decoration: underline;
    cursor: pointer;
}
.circle{
transition: transform .2s;
}
.circle:hover{
    transform: scale(2) ;
}
/* LEFT BAR TOP */
.leftbar{
    color: var(--grey);
}

.leftbar .svg{
    width: 180px;
    padding: 20px;
}
.leftbar li{
    margin-top: 5px;
    font-size: .6rem;
    font-weight: 800;
}
.leftbar li img{
    width: 15%;
    padding: 5px;
    margin-left: 10px;
}
.personal-lib{
    margin-top: 10px;
    padding-left: 10px;
    min-height: 300px;
    overflow-y: scroll;
    scrollbar-color: var(--grey);
    display: flex;
    flex-flow: column nowrap;
}
.personal-lib h4{
    color: var(--grey);
    font-size: 1rem;
    
}
.personal-lib li img{
    width: 30px;
    margin-left: 0;
    padding: 0;
    margin-right: 5px;
}
.personal-lib li{
    margin-top: 15px;

}
.personal-lib h3{
    color: white;
    font-weight: 900;
    font-size: 1.5rem;
}
li svg{
    color: var(--grey);
}



/* LEFT BAR BOTTOM */


.leftbar {
    width: 230px;
    min-height: 480px;
    background-color: var(--dark);
}
#profile{
    color: var(--grey);  
    bottom: 80px; 
    position: absolute;
    padding: 5px;
    overflow-y: auto;
    
}
#profile span{
    color: var(--grey);
    margin-left: 5px;
    font-size: .9rem;  
    cursor: pointer;

}
.info-p{
    width: 100%;
    height: 100px;

}
.download  img{
    width:30px;
}
.download span{
    width: 200px;
}
.box-profile{
    width: 80%;
    height:60px;
}
.img-profile{
    height: 50px;
    width: 50px;
    border-radius: 80%;
    overflow: hidden;
}
.img-profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* content */

.wrapped {
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    color: white;
    overflow: hidden;
}

/* MAIN */

.main-content {
    width: calc(100% - 230px);
    height: 100%;
    overflow-y: auto;
    background-color: var(--quite-dark);

}

main {
    width: 100%;
    height: calc(100% - 90px);
    background-color: var(--quite-dark);
}

#calltoaction {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 230px);
    background-color: var(--dark);
    height: 80px;
    z-index: 3000;
}

.main-section {
    margin-top: 80px;
}

.main-section li {
    padding: 20px;
    font-size: .8rem;

}

.main-section a {
    text-decoration: none;
    color: var(--grey);
}

#playbar {
    width: 100%;
    height: 90px;
    background-color: var(--dark-grey)
}


.container {
    padding: 15px;
}

.container h2 {
    padding: 5px;
    font-size: 200;

}

.row {
    padding: 5px;
}

.col {
    padding: 5px;
    width: 100%;
    max-width: 200px;
}

.col img {
    width: 100%;
}

.box-img {
    width: 100%;
    display: block;
    position: relative;
}
#popolar-artist .box-img{
    height: 220px;
    width: 100%;
    border-radius: 100%;
    overflow: hidden;
}


#poplar-artist .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* BOTTOM BAR */

.name-song{
    width: 236px;
    height: 90px;
    cursor: pointer;

}
.ctn-namesong h4{
    margin-left: 15px;
    font-size: .9rem;
}
.ctn-namesong span{
    margin-left: 15px;
    font-size: .8rem;
}
.ctn-song {
    padding: 10px;
}
.ctn-namesong{
    width: 700px;
}
.ctn-namesong i{
    margin-left: 5px;
}
.ctn-song img{
    width: 100%;
}
.central-bar{
    width: 40%;
    height: 90px;
}

/* CENTRAL PLAYBAR */
.action-button i{
    padding: 10px;
}
.playbarbig span{
    color: var(--grey);
    margin: 10px;
    font-size: .8rem;
}

#track{
    background: linear-gradient(to right, #ADFF2F 0%, #ADFF2F 50%, #fff 50%, #fff 100%);
 
    border-radius: 8px;
    height:8px;
    width: 80%;
    outline: none;
    /* transition: background 450ms ease-in; */
    -webkit-appearance: none;
    margin-top: 15px;
}

/* RIGHT SIDE BOTTOM BAR */

.tools-bar{
    width: 236px;
    height: 90px;
}
.icon i{
    margin-left: 10px;
    padding: 5px;
    color: var(--grey);
    font-size: .8rem;
}

.icon i:hover{
    color: white;
}
#volume {
    background: linear-gradient(to right, #ADFF2F 0%, #ADFF2F 50%, #fff 50%, #fff 100%);

    border-radius: 8px;
    height: 7px;
    width: 50%;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    margin-top: 8px;
  }
  