* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Color styles */
    --dark: #000000;
    --quite-dark: #141922;
    --dark-grey: #282828;
    --grey: #C1C1C1;
    --accent: #ADFF2F;

}

body {
    font-family: 'Montserrat', sans-serif;

}

html {
    scroll-behavior: smooth;
}

/* TOOLS */
a {
    color: white;
}

ul {
    list-style: none;
}

.d-flex {
    display: flex;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
    align-content: center;
}

.btn {
    padding: 6px 10px;
    display: inline-block;
    border: 2px solid white;
    color: white;
    border-radius: 40px;
    text-decoration: none;
    width: fit-content;
    margin-top: 15px;
    margin-right: 20px;
}
.btn:hover {
    transform: scale(1.1) perspective(1px);
    transition: .2s;
    
  }

.svg{
    color: white;
}
/* TEXT  */


.up-text {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

p {
    color: var(--grey);
}

/* HOVER */

li a:hover{
    color: white;
    padding-bottom: 5px;
    border-bottom: 3px solid var(--accent);

}

.box-card:hover img {
    opacity: 0.8;
}

.box-img:hover .play-hover {
    opacity: 1;
}

.play-hover {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 50px;
    opacity: 0;
}

.leftbar li:hover{
    border-left: 3px solid var(--accent);
    padding-left: 10px;
    cursor: pointer;
    color: white;
}

/* LEFT BAR TOP */
.leftbar{
    color: var(--grey);
}


.leftbar .svg{
    width: 180px;
    padding: 20px;
}
.leftbar li{
    margin-top: 5px;
    font-size: .8rem;
    font-weight: 800;
}
.leftbar li img{
    width: 15%;
    padding: 5px;
    margin-left: 10px;
}
.personal-lib{
    margin-top: 10px;
    padding-left: 10px;
}
.personal-lib h3{
    color: white;
}
.personal-lib li img{
    width: 50px;
    margin-left: 0;
    padding: 0;
    margin-right: 5px;
}
.personal-lib li{
    margin-top: 15px;

}
.personal-lib h3{
    color: var(--grey);
    font-weight: 900;
    font-size: 1rem;
}
li svg{
    color: var(--grey);
}



/* LEFT BAR BOTTOM */


.leftbar {
    width: 230px;
    min-height: 480px;
    background-color: var(--dark);
}
#profile{
    color: var(--grey);  
    bottom: 120px; 
    position: absolute;
}
#profile span{
    color: var(--grey);
    margin-left: 5px;
    font-size: .9rem;    
}
.info-p{
    width: 100%;
    height: 100px;
}
.download, .info-p img{
    width: 30px;
    margin-left:10px;
}
.box-profile{
    width: 100%;
}
.img-profile{
    height: 10vh;
    width: 10%;
    border-radius: 100%;
    overflow: hidden;
}
.img-profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* content */

.wrapped {
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    color: white;
    overflow: hidden;
}

/* MAIN */

.main-content {
    width: calc(100% - 230px);
    height: 100%;
    overflow-y: auto;
    background-color: var(--quite-dark);

}

main {
    width: 100%;
    height: calc(100% - 90px);
    background-color: var(--quite-dark);
}

#calltoaction {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 230px);
    background-color: var(--dark);
    height: 80px;
    z-index: 3000;
}

.main-section {
    margin-top: 80px;
}

.main-section li {
    padding: 20px;
    font-size: .8rem;

}

.main-section a {
    text-decoration: none;
    color: var(--grey);
}

#playbar {
    width: 100%;
    height: 90px;
    background-color: var(--dark-grey)
}


.container {
    padding: 15px;
}

.container h2 {
    padding: 5px;
    font-size: 200;

}

.row {
    padding: 5px;
}

.col {
    padding: 5px;
    width: 100%;
    max-width: 200px;
}

.col img {
    width: 100%;
}

.box-img {
    width: 100%;
    display: block;
    position: relative;
}
#popolar-artist .box-img{
    height: 220px;
    width: 100%;
    border-radius: 100%;
    overflow: hidden;
}


#poplar-artist .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* BOTTOM BAR */


